<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset="UTF-8" />
        <title>Registro de Agile Tour 2012{% block title %}Registro de Agile Tour 2012{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'css/bootstrap/bootstrap.css'
                'css/main.css'
                output='css/generated/layout.css'
            %}
            <link rel="stylesheet" href="{{asset_url}}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">Registro de Agile Tour 2012 </a>
                    {% block navbar %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            {% block content %}{% endblock %}
            <hr>
            <footer>
                <p>Desarrollado por <a href="http://solucioneshospedadas.com/">Soluciones Hospedadas</a></p>
            </footer>  
        </div>
        {% block javascripts %}
            {% javascripts
                'js/bootstrap/bootstrap.js'
                output='js/generated/main.js'
            %}
            <script type="text/javascript" src="{{asset_url}}" />
            {% endjavascripts %}
        {% endblock %}
        </body>
    </html>
