{% extends '::base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <section id="event-list">
                <section class="row event">
                    <header class="event-header span8">
                        <div class="event-city"><h2>Mérida</h2></div>
                        <div class="event-date"><h3>8 de Noviembre de 2012</h3></div>
                    </header>
                    <section class="event-body span8">
                        <ul class="event-links">
                            <li class="event-link"><a href="{{ path('registro_participante') }}">Registro de
                                Participante</a></li>
                            <li class="event-link"><a href="{{ path('registro_ponente') }}">Registro de Ponente</a></li>
                        </ul>
                    </section>
                </section>
                <section class="row event">
                    <header class="event-header span8">
                        <div class="event-city"><h2>Caracas</h2></div>
                        <div class="event-date"><h3>10 de Noviembre de 2012</h3></div>
                    </header>
                    <section class="event-body span8">
                        <ul class="event-links">
                            <li class="event-link"><a href="{{ path('registro_participante') }}">Registro de
                                Participante</a></li>
                            <li class="event-link"><a href="{{ path('registro_ponente') }}">Registro de Ponente</a></li>
                        </ul>
                    </section>
                </section>
            </section>
        </div>
    </div>
{% endblock %}