{% extends '::base.html.twig' %}
{% block content %}
<h1>Agile Tour Caracas 2012</h1>

<a href="{{path('registro_participante')}}">Registro de Participante</a>
<br>
<a href="{{path('registro_ponente')}}">Registro de Ponente</a>

{% endblock %}